/************************************************
MAIN
************************************************/
html {
  height: 100%;
  width: 100%; }

.main-app {
  min-width: 100%;
  min-height: 100%; }

body, #root {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #17252A;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #FEFEFE; }

.App {
  height: 100%; }

.width-60 {
  width: 60%; }

/************************************************
NAVIGATION
************************************************/
.navigation {
  display: flex;
  z-index: 1;
  height: auto;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background: #FEFEFE;
  font-variant: small-caps; }
  .navigation nav {
    width: 100%; }
  .navigation h3 {
    margin-left: .5rem; }
  .navigation ul {
    list-style: none;
    display: flex; }
    .navigation ul li {
      margin: 0 1rem; }
      .navigation ul li a {
        color: #000000;
        text-decoration: none; }
  @media (max-width: 468px) {
    .navigation {
      display: flex;
      flex-direction: column;
      text-align: center; }
      .navigation h3 {
        margin: 0 auto;
        margin-top: .5rem;
        margin-bottom: .5rem; }
      .navigation ul {
        display: flex;
        justify-content: center;
        padding: 0;
        padding-bottom: .5rem; } }

/************************************************
MAIN
************************************************/
.main-page {
  height: 100%;
  width: 100%;
  background-image: url(/img/background3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-page .cheers {
    font-style: italic; }
  .main-page .main-jumbo {
    height: 50%;
    width: 100%;
    background-color: rgba(233, 236, 239, 0.885);
    margin: 0; }
    @media (max-width: 468px) {
      .main-page .main-jumbo {
        height: 100%;
        overflow-x: scroll; } }

/***********************************************
SIDE BY SIDE
************************************************/
.side-by-side {
  background: #FEFEFE;
  width: 100%;
  height: 60%;
  margin: 0 auto;
  margin-top: .5rem;
  display: flex; }
  .side-by-side .side-by-side-image {
    width: 45%;
    height: 100%; }
    .side-by-side .side-by-side-image img {
      width: 100%;
      height: 100%; }
  .side-by-side .side-by-side-text {
    width: 55%;
    height: 100%;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
  @media (max-width: 468px) {
    .side-by-side {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0; }
      .side-by-side .side-by-side-image {
        width: 100%;
        height: 40%; }
      .side-by-side .side-by-side-text {
        width: 95%;
        height: 100%;
        padding: .25rem; } }

/************************************************
SERVICES
************************************************/
.services-main {
  min-height: 100%;
  min-width: 100%;
  background-image: url(/img/wood-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center; }

.services-span {
  letter-spacing: .5rem; }

h2 {
  margin: 0; }

.services {
  background-color: #FFFFFF;
  border: 1.5px solid #000000;
  width: 50%;
  height: 90%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 468px) {
    .services {
      overflow-x: scroll; } }
  .services .services-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  @media (max-width: 468px) {
    .services {
      display: flex;
      flex-direction: column; }
      .services .column-1 {
        margin: 0; }
      .services .column-2 {
        margin: 0; } }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    margin: .5rem 0; }
  ul .list-group-item {
    border: 0;
    border-bottom: 1px solid #000000; }

/************************************************
CONTACT
************************************************/
.contact-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  align-items: center; }
  .contact-main .contact-jumbo {
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin: 0; }
  .contact-main .contact {
    justify-content: space-evenly;
    align-items: center;
    margin: 0 !important;
    width: 80%; }
    .contact-main .contact .contact-column {
      margin: 2.5rem 0;
      padding: 0 !important; }
      .contact-main .contact .contact-column .contact-card {
        display: flex;
        height: 11.375rem;
        width: 26rem;
        justify-content: center;
        align-items: center;
        padding: 2.25rem;
        border: 2px solid #000000;
        box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px; }
        .contact-main .contact .contact-column .contact-card address {
          margin: 0;
          padding: 0; }
        @media (max-width: 468px) {
          .contact-main .contact .contact-column .contact-card {
            height: auto;
            width: auto;
            overflow-y: auto; } }

/************************************************
PORTFOLIO
************************************************/
.main-gallery {
  text-align: center;
  min-height: 100%; }
  @media (max-width: 468px) {
    .main-gallery {
      height: 100%;
      background: #000000; }
      .main-gallery img {
        margin-top: 4rem;
        max-width: 100%;
        max-height: 100%; } }

/************************************************
FOOTER
************************************************/
.footer {
  display: flex;
  justify-content: center; }
  .footer .social-logo {
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    margin: 0 1.25rem; }
  .footer .social-logo:hover {
    opacity: 0.5; }
