$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$header-font: "Playfair Display";
$text-font: "Lato";
$main-font-size: 16px;
$link-color: #000000;
$swans-down: #DEF2F1;
$mirage: #17252A;
$paradiso: #2B7A78;
$keppel: #3AAFA9;
$mobile: "(max-width: 468px)";
$tablet: "(max-width: 768px)";

@mixin media($queryString) {
  @media #{$queryString} {
    @content;
  }
}

/************************************************
MAIN
************************************************/

html {
  height: 100%;
  width: 100%;
}

body, #root {
  height: 100%;
  width: 100%;
  font-family: $font-family-sans-serif;
  color: $mirage;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #FEFEFE;
}

.App {
  height: 100%;
}

.width-60 {
  width: 60%;
}

/************************************************
NAVIGATION
************************************************/

.navigation {
  // border-bottom: 1px solid rgba(0,0,0,0.0975);
  display: flex;
  z-index: 1;
  height: auto;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background: #FEFEFE;
  font-variant: small-caps;

  nav {
    width: 100%;
  }// navigation nav

  h3 {
    margin-left: .5rem;
  }// navigation h3
  ul {
    list-style: none;
    display: flex;
    li {
      margin: 0 1rem;
      a {
        color:$link-color;
        text-decoration: none;
      }// navigation ul li a 
    }// navigation ul li
  }// navigation ul

  @include media($mobile) {
    display: flex;
    flex-direction: column;
    text-align: center;

    h3 {
      margin: 0 auto;
      margin-top: .5rem;
      margin-bottom: .5rem;
    }

    ul {
      display: flex;
      justify-content: center;
      padding: 0;
      padding-bottom: .5rem;
    }// mobile ul
  }// mobile
}// navigation


/************************************************
MAIN
************************************************/

.main-page {
  height: 100%;
  width: 100%;
  background-image: url(/img/background3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


  .cheers {
    font-style: italic;
  }

  .main-jumbo {
    height: 40%;
    width: 100%;
    background-color: rgba(233, 236, 239, 0.885);
    margin: 0;


    @include media($mobile) {
      height: 100%;
      overflow-x: scroll;
    }
  }
}


 /***********************************************
SIDE BY SIDE
************************************************/

.side-by-side {
  background: #FEFEFE;
  width: 100%;
  height: 60%;
  margin: 0 auto;
  margin-top: .5rem;
  display: flex;

  .side-by-side-image {
    width: 45%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }// side-by-side img
  }// side-by-side-image

  .side-by-side-text { 
    width: 55%;
    height: 100%;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }// side-by-side text

  @include media($mobile) {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;

    .side-by-side-image {
      width: 100%;
      height: 40%;
    }// mobile side-by-side-image

    .side-by-side-text {
      width: 95%;
      height: 100%;
      padding: .25rem;
    }
  }// mobile
}// side-by-side


/************************************************
SERVICES
************************************************/

.services-main {
  height: 100%;
  min-width: 100%;
  background-image: url(/img/wood-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}
   
  .services-span {
    letter-spacing: .5rem;
  }// services-span

  h2 {
    margin: 0;  
  }// services-main h2

.services {
  background-color: #FFFFFF;
  border: 2px solid #000000;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;

    @include media($mobile) {
      overflow-x: scroll;
    }

  .services-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include media($mobile) {
    display: flex;
    flex-direction: column;

    .column-1 {
      margin: 0;
    }// mobile services column-1

    .column-2 {
      margin: 0;
    }// mobile services column-2
  }// mobile
}// services

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: .5rem 0;
    }// services ul li

    .list-group-item {
      border: 1px solid #000000;
    }
  }// services ul


/************************************************
CONTACT
************************************************/

.contact-main {
  height: 100%;
  width: 100%;
  // background-image: url(/img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;

  .jumbotron {
    width: 100%;
  }// contact-main jumbotron
}// contact-main

.contact {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact-column {
    width: 31%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      margin-bottom: 5rem;
      width: 30%;
      height: 15%;
    }// contact contact-column img
  }// contact contact-column

  a {
    text-decoration: none;
    color: $link-color;
  }// contact a

  .contact-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.8);
  }// contact-card

  .address {
    border-right: 1px solid rgba(0,0,0,0.0975);

    p {
      display: flex;
      flex-direction: column;
      text-align: center;
    }// contact address p
  }// contact address

  .phone {
    border-right: 1px solid rgba(0,0,0,0.0975);

    p {
      display: flex;
      flex-direction: column;
      align-items: center;
    }// contact phone p
  }// contact phone

  .email {
    
    img {
      width: 20%;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }// contact email form
  }// contact email

  @include media($mobile) {
    display: flex;
    flex-direction: column;

    .contact-column {
      width: 100%;
      height: 31%;

      img {
        margin: 0;
        width: 15%;
        height: 30%;
      }// contact-column img
    }// mobile contact-column

    .address {
      width: 100%;
      border-bottom: 1px solid rgba(0,0,0,0.0975);
    }// mobile address

    .phone {
      width: 100%;
      border-bottom: 1px solid rgba(0,0,0,0.0975);
    }// mobile phone

    .email {
      width: 100%;
    }// contact mobile email
  }// mobile 
}// contact


/************************************************
PORTFOLIO
************************************************/

.main-gallery {
  text-align: center;

  @include media($mobile) {
    height: 100%;
    background: #000000;
    img {
      margin-top: 4rem;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

/************************************************
FOOTER
************************************************/

.footer {
  display: flex;
  justify-content: center;

  .social-logo {
    text-decoration: none;      
    width: 4rem;
    height: 4rem;
    margin: 0 1.25rem;
  }// footer social-logo
}// footer

